*{
  margin: 0;
  padding: 0;
}
html,body{
  font-size: 10px;
  font-family: Raleway;
}

.navigation{
  .mobile-nav{
    position: relative;
    .menu-btn{
      position: absolute;
      padding: 1rem;
      right: 0;
      border-left: solid 1px rgb(216, 214, 214);
      border-bottom: solid 1px rgb(216, 214, 214);
      border-bottom-left-radius: 50%;
      img{
        height: 3rem;
        width: 3rem;
      }
    }
    .menu{
      &.display{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
      visibility: hidden;
      opacity: 0;
      display: flex;
      position: absolute;
      right: 0;
      padding: 2rem;
      transition: all .3s ;
      transform: translateX(100%);
      align-content: space-between;
      width: 50%;
      height: 40vh;
      flex-wrap: wrap;
      background-color: rgb(75, 73, 73);
      border-bottom-left-radius: 2rem;
      justify-content: space-around;
      list-style-type: none;
      .cancel{
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        right: 2rem;
      }
      li{
        &:nth-child(2){
          margin-top: 4rem;
        }
        font-size: 2rem;
        width: 100%;
        margin: 1rem;
        text-align: center;
        a{
          color: white;
          text-decoration: none;
        }
        &:nth-child(3){
          span{
            color: rgb(241, 142, 11);
          }
        }
      }
    }
  }
}
.hero{
  position: relative;
  .bg-image{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url('img/pt4.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: translate(4rem, 6rem) scale(1.2);
    transition: all 4s ease-in-out;
  }
  overflow: hidden;
  height: 100vh;
  .text{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4rem;
    h1{
      font-size: 7rem;
    }
    p{
      font-size: 4rem;
      line-height: 4.5rem;
      span{
        display: block;
      }
    }
  }
  
}
