* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  font-family: Raleway;
}
h1,
h2,
h3 {
  font-family: Galada;
}
.container {
  background-color: #f7f7f7;
  overflow: hidden;
}
.header {
  .menu-btn {
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0;
    border-left: solid 1px rgb(216, 214, 214);
    border-bottom: solid 1px rgb(216, 214, 214);
    border-bottom-left-radius: 50%;
    img {
      height: 3rem;
      width: 3rem;
    }
  }
  .logo {
    img {
      width: 12rem;
      margin: 1rem auto 0;
      display: block;
    }
  }
}
.navigation {
  .mobile-nav {
    position: relative;
    .menu {
      &.display {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
      }
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      display: flex;
      position: absolute;
      right: 0;
      padding: 2rem;
      transition: all 0.3s;
      transform: translate(100%, -100%);
      align-content: space-between;
      width: 50%;
      height: 40vh;
      flex-wrap: wrap;
      background-color: rgb(97, 93, 93);
      border-bottom-left-radius: 2rem;
      justify-content: space-around;
      list-style-type: none;
      .cancel {
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        right: 2rem;
      }
      li {
        &:nth-child(2) {
          margin-top: 4rem;
        }
        font-size: 2rem;
        width: 100%;
        margin: 1rem;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
        }
        &:nth-child(3) {
          span {
            color: rgb(241, 142, 11);
          }
        }
      }
    }
  }
}
.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  .my-image {
    padding-top: 5rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    & > img {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
    }
    &::before {
      content: '';
      position: absolute;
      top: 5rem;
      left: -2rem;
      z-index: -1;
      height: 20rem;
      width: 20rem;
      border: 2px solid #000;
      border-radius: 50%;
      animation: beforeAnimation 1s infinite;
      animation-direction: alternate;
    }
    &::after {
      content: '';
      position: absolute;
      top: 5rem;
      right: -2rem;
      z-index: -1;
      height: 20rem;
      width: 20rem;
      border: 2px solid #000;
      border-radius: 50%;
      animation: afterAnimation 1s infinite;
      animation-direction: alternate;
    }
    @keyframes beforeAnimation {
      from {
        left: -2rem;
      }
      to {
        left: 2rem;
      }
    }
    @keyframes afterAnimation {
      from {
        right: -2rem;
      }
      to {
        right: 2rem;
      }
    }
  }
  .socials {
    width: 130px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    img {
      width: 3rem;
    }
  }
  .text {
    color: #111111;
    padding: 4rem;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 2rem;
      span {
        font-weight: bolder;
      }
    }
    & > a {
      display: inline-block;
      background-color: #222;
      color: #fff;
      border: none;
      padding: 1rem 2rem;
      margin-top: 3rem;
      border-radius: 1rem;
      font-family: Raleway;
      font-size: 2rem;
    }
  }
}
.projects {
  padding-top: 4rem;
  min-height: 100vh;
  background-color: #ebebeb;
  h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #52489c;
    text-decoration: none;
    border: none;
  }
  .project {
    width: 80%;
    margin: 2rem auto 4rem;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    background-color: #b2abe0;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    & > img {
      width: 100%;
      height: 20rem;
    }
    .links {
      width: 25%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-between;
      a {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    p {
      font-size: 2rem;
    }
  }
}
.about {
  position: relative;
  .profile-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(88, 120, 189, 0.6)),
      url('./img/dro1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  padding: 2rem;
  h1 {
    color: #000;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: bolder;
  }
  article {
    h2 {
      color: white;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
