* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: Raleway;
}

.inner-wrapper {
  min-height: 100vh;
  position: relative;
}

.menu-btn {
  position: fixed;
  padding: 1rem;
  top: 10px;
  right: 10px;
  z-index: 1;

  img {
    height: 3rem;
    width: 3rem;
  }
}

.navigation {
  .mobile-nav {
    position: relative;

    .menu {
      &.display {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
      }

      z-index: 2;
      visibility: hidden;
      opacity: 0;
      display: flex;
      position: fixed;
      right: 0;
      padding: 2rem;
      transition: all 0.3s;
      transform: translate(100%, -100%);
      align-content: space-between;
      width: 50%;
      height: 40vh;
      flex-wrap: wrap;
      background-color: rgb(8, 8, 8);
      justify-content: space-around;
      list-style-type: none;

      .cancel {
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        right: 2rem;
      }

      li {
        &:nth-child(2) {
          margin-top: 4rem;
        }

        font-size: 2rem;
        width: 100%;
        margin: 1rem;
        text-align: center;

        a {
          color: white;
          text-decoration: none;
          font-family: Poppins;
          font-weight: 600;
        }

        &:nth-child(3) {
          span {
            color: rgb(241, 142, 11);
          }
        }
      }
    }
  }
}

main {
  background-color: rgb(10, 3, 3);

  .container {
    min-height: 100vh;

    .my-image {
      padding-top: 15rem;
      width: 20rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 1rem;

      &>img {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 17rem;
        left: -2rem;
        z-index: -1;
        height: 20rem;
        width: 20rem;
        border-radius: 1rem;
        background-color: #e0dedb;
      }
    }

    .socials {
      width: 130px;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      img {
        width: 3rem;
      }
    }

    .text {
      color: #111111;
      padding: 4rem;

      h1 {
        font-size: 3.5rem;
        font-family: Poppins;
      }

      p {
        font-size: 2rem;
        display: inline-block;

        span {
          font-weight: bolder;
        }
      }

      span.typed-cursor {
        font-size: 2rem;
      }

      &>button {
        display: inline-block;
        background-color: #222;
        color: #fff;
        border: none;
        padding: 1rem 2rem;
        margin-top: 3rem;
        font-family: Poppins;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}

.projects {
  background-color: #fff;
  position: relative;
  //height: 100vh;

  // rgb(8, 8, 8)
  .project {
    width: 100%;
    height: 100vh;
    position: relative;
    // position: absolute;
    // top: 0;
    // left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b2abe0;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);

    &>img {
      width: 100%;
      height: 20rem;
    }

    .extras {
      position: absolute;
      bottom: 6rem;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);

      .links {
        width: 30%;
        max-width: 200px;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;

        a {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }

      p {
        font-size: 2rem;
        text-align: center;

        &.title {
          text-transform: uppercase;
          font-size: 2rem;
          letter-spacing: 10px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.about {
  position: relative;
  min-height: 100vh;
  background-color: white;

  .profile-image {
    width: 80%;
    margin: 2rem auto;

    img {
      width: 100%;
      border-radius: 0 2rem 2rem 2rem;
    }
  }

  padding: 2rem;

  h1 {
    color: black;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    margin-top: 4rem;
  }

  article {
    font-family: Nunito, sans-serif;

    p {
      color: black;
      font-size: 2rem;
      text-align: left;
    }
  }
}

.contact {
  background-color: #4158D0;
  background-image: linear-gradient(315deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  background-size: 400% 400%;
  padding: 2rem;
  padding-bottom: 0;
  position: relative;
  animation: changeBg 10s ease-in-out infinite;

  @keyframes changeBg {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  .links-container {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    position: relative;
    text-align: center;

    h2 {
      font-size: 2rem;
      color: rgb(15, 3, 43);
    }

    .socials {
      width: 130px;
      margin: 0 auto;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      img {
        width: 3rem;
      }
    }
  }

  form {
    margin-top: 2rem;
    padding-bottom: 8rem;
    width: 100%;

    header {
      font-size: 2rem;
      font-weight: bold;
      color: rgb(15, 3, 43);
      text-align: center;
    }

    input,
    textarea {
      &:nth-child(2) {
        margin-top: 1rem;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      box-sizing: border-box;
      background-color: transparent;
      margin: 0.5rem 0 0;
      padding: 1rem;
      border: none;
      border-bottom: solid 2px #fff;
      font-family: Raleway;
      font-size: 1.8rem;
      width: 100%;
    }

    button {
      border-radius: 5px;
      margin: 2rem 0 0;
      padding: 1rem;
      border: none;
      font-family: Raleway;
      font-size: 2rem;
      font-weight: bold;
      width: 100%;
      color: #fff;
      background-color: rgb(15, 3, 43);
    }

    textarea {
      color: white;
      height: 10rem;
    }
  }

  .separate {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    letter-spacing: 10px;
  }

  footer {
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
    text-align: center;


    p {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 1rem;
    }
  }
}

@media screen and (min-width: 500px) {
  main {
    .container {
      width: 100%;

      .text {
        display: inline-block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  main {
    .container {
      width: 100%;
      padding-top: 15rem;
      position: relative;
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.45)),
        url(./img/dro2.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;

      .my-image {

        display: none;
        position: static;
        left: auto;
        transform: translateX(0);

        &>img {
          width: 20rem;
          height: 20rem;
          border-radius: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 17rem;
          left: -2rem;
          z-index: -1;
          height: 20rem;
          width: 20rem;
          border-radius: 1rem;
          background-color: #e0dedb;
        }
      }

      .text {
        width: 60%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
          font-size: 3.5rem;
        }

        p {
          font-size: 2.5rem;
        }

        span.typed-cursor {
          font-size: 2.5rem;
        }

        &>button {
          font-size: 2.5rem;
        }

        .socials {
          margin-left: auto;
          margin-right: auto;

          img {
            width: 3.5rem;
          }
        }
      }
    }
  }

  .about {
    .profile-image {
      width: 70%;
    }

    article {
      p {
        font-size: 2.5rem;
      }
    }
  }


}

@media screen and (min-width: 800px) {
  .about {
    padding: 4rem 4rem 10rem;

    .profile-image {
      width: 60%;
      margin-bottom: 4rem;
    }

    h1 {
      margin-bottom: 6rem;
      font-size: 4.5rem;
    }
  }

  .contact {
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;

    .links-container {
      width: 30%;
    }

    form {
      width: 55%;
    }

    .separate {
      display: none;
    }

  }
}

@media screen and (min-width: 900px) {
  .about {

    .profile-image {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

    .profile-image,
    article {
      display: inline-block;
      width: 40%;
    }

    h1 {
      display: block;
      width: 100%;
      margin-bottom: 6rem;
    }

    article {
      p {
        text-align: left;
      }
    }
  }
}